/*===========================================
                Geral
===========================================*/
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
}
a{
    text-decoration: none;
    color: white;
}

/*==============================================
                Header
============================================*/
header{
    background-color: #3b8686;
    padding: 20px 10vw 20px 10vw;

}
header nav{
    display: flex;
    justify-content: space-between;align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 0 40px 0 40px;
}
header nav ul li a.atual{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
/*=============================================
                Conteudo
=============================================*/
section.banner{
    padding: 15vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121, 109, 174, 0.2), rgba(121, 109, 174, 0.2)), url(../src/back-banner.png) no-repeat center center;
    background-size: 100% auto;
}
section.banner h2{
    font-size: 3rem;
    color: #ffffff;
    background-color: rgba(59, 134, 134, 0.5);
    width: 50%;
    padding: 1vw 1vw 1vw 1vw;
}
/*==============================================
                Servico
==============================================*/
section.servico{
    padding: 7vw 10vw 7vw 10vw;
}
section.servico ul{
    display: flex;
    justify-content: space-between;
}
section.servico ul li{
    text-align: center;
    width: 22%;
}
section.servico ul li span{
    font-size: 3.5rem;
    margin: 0 0 1vw 0;
}
section.servico ul li h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1vw 0 1vw 0;
    color: #2d2d2d;
}
section.servico ul li p{
    margin: 2vw 0 2vw 0;
    font-weight: lighter;
    color: #747474;
}
section.servico ul li button{
    padding: 9px 7px;
    font-size: 1.2rem;
    background-color: #3b8686;
    border: hidden;
    color: #ffffff;
}
/*==============================================
                Banner2
==============================================*/
section.banner2{
    padding: 5vw 5vw 5vw 5vw;
    background: linear-gradient(rgba(121, 189, 154, 0.5), rgba(121, 189, 154, 0.5)), url(../src/back-numeros.png) no-repeat center center;
    background-size: 100% auto;
}
section.banner2 ul{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    text-align: center;
    
}
section.banner2 ul li {
    font-size: 1.5rem;
    width: 25%;
}

/*==============================================
            Possibilidades
==============================================*/
section.possibilidades{
    padding: 7vw 10vw;
    display: flex;

}
section.possibilidades h2{
    font-size: 1.5rem;
    color: #0B486B;
    padding: 0 0 2vw 0 ;
}
section.possibilidades p{
    font-size: .9 rem;
    color: #747474;
    font-weight: lighter;
    width: 75%;
    padding: 0 0 2vw 0;
}
section.possibilidades button{
    padding: 9px 7px;
    background-color: #0B486B;
    font-size: 1.2rem;
    border: hidden;
    color: #ffffff;
}

/*==============================================
                Footer
==============================================*/

footer{
    background-color: #3B8686;
    color: #ffffff;
    text-align: center;

}
footer ul.geral{
    display: flex;
    justify-content: space-around;
    padding: 1vw 10vw 1vw 0;
}
footer ul.icones{
    display: flex;
    justify-content: space-around;
}
footer ul li{
    padding: 10px 0 10px 0;
}
footer ul li p{
    padding: 10px 0 10px 0;
}
footer ul li p span{
    font-weight: bold;
}
footer ul.indice{
    text-align: right;
}